body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
}
/* Nav bar */
app-nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;    
    width: min-content;
    z-index: 1000;
    overflow: auto;
    background-color: #AB322B;
    font-weight: 600;
}

#app-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "listaFicha formularioFicha";
    height: 100vh;
    
    background-color: #FEF7FF;
    color: #1D1B20;
}