<div id="main-nav-bar">
    <ul>
        <li>
            <button>
                <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
                <i class="fas fa-search"></i>
                <label>Pesquisa</label>
            </button>
        </li>
    </ul>

    <ul>
        <li>
            <button>
                <i class="fas fa-castle" id="posts"></i>
                <label for="posts">Tormenta 20</label>
            </button>
        </li>
        <li>
            <button>
                <i class="fas fa-user" id="player"></i>
                <label for="player">Jogadores</label>
            </button>
        </li>
        <li>
            <button title="Grupo">
                <i class="fas fa-users"></i>
                <label for="group">Grupo</label>
            </button>
        </li>
        <li>
            <button title="NPC">
                <i class="fas fa-link"></i>
                <label for="npc">NPC</label>
            </button>
        </li>
        <li>
            <button title="Ameaças">
                <i class="far fa-swords"></i>
                <label for="Ameaças">Ameaças</label>
            </button>
        </li>
        <li>

            <button title="Historia">
                <i class="fas fa-book"></i>
                <label for="Historia">História</label>
            </button>
        </li>
        <li>
            <button title="Config">
                <i class="fas fa-cog"></i>
                <label for="Config">Configurações</label>
            </button>
        </li>
    </ul>
</div>