<div id="main-nav-bar">
    <div id="pesquisa">
        <button (click)="navegar('/posts')">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <i class="fas fa-search"></i>
            <label>Pesquisa</label>
        </button>
    </div>

    <div id="modulos">
        <div *ngFor="let item of modulos">
            <button (click)="navegar(item.rota)" [id]="item.id">
                <i [ngClass]="item.icone"></i>
                <label>{{item.titulo}}</label>
            </button>
        </div>
    </div>
</div>
